<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Sigatoka Negra</title>
    <!--Llama a fontawsome para usar iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/aa08010922.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <a href="#" class="logo">Deteccion de <span>Sigatoka Negra</span></a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#detalle">Detalles</a>
            <a href="#">Deteccion</a>
            <a href="#">Contactos</a>
        </nav>
    </header>

    <section class="inicio" id="inicio">
        <div class="contet">
            <h3>Deteccion de <span>Sigatoka Negra</span> mediante el procesamiento de imagenes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid sequi nihil inventore in magni
                officiis officia nesciunt, sit molestias harum id tempora quae totam ratione quaerat, consequuntur
                accusantium culpa.</p>
            <a href="#detalle" class="btn-p" id="btn-p">Mas detalles</a>
        </div>
        <div class="image">
            <img src="/static/img/inteligencia-artificial.png" alt="">
        </div>
    </section>
    <section class="detalle" id="detalle">
        <h1 class="heinding">Etapas de contagios de Sigatoka Negra</h1>
        <div class="caja-contenedor">
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 2</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
        
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 3</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 4</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 5</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 6</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
        </div>
    </section>
</body>

</html>