<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Sigatoka Negra</title>
    <!--Llama a fontawsome para usar iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/aa08010922.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <a href="#" class="logo">Deteccion de <span>Sigatoka Negra</span></a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="#inicio">Inicio</a>
            <a href="#detalle">Detalles</a>
            <a href="#deteccion">Deteccion</a>
            <a href="#">Contactos</a>
        </nav>
    </header>

    <section class="inicio" id="inicio">
        <div class="contet">
            <h3>Deteccion de <span>Sigatoka Negra</span> mediante el procesamiento de imagenes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid sequi nihil inventore in magni
                officiis officia nesciunt, sit molestias harum id tempora quae totam ratione quaerat, consequuntur
                accusantium culpa.</p>
            <a href="#detalle" class="btn">Mas detalles</a>
        </div>
        <div class="image">
            <img src="/static/img/inteligencia-artificial.png" alt="">
        </div>
    </section>
    <section class="detalle" id="detalle">
        <h1 class="heinding">Etapas de contagios de Sigatoka Negra</h1>
        <div class="caja-contenedor">
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 1</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 2</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
        
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 3</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 4</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 5</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
            <div class="caja">
                <img src="/static/img/inteligencia-artificial.png" alt="">
                <h3>Etapa 6</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eveniet ex voluptates accusamus quibusdam provident delectus, reprehenderit iusto consequuntur blanditiis.</p>
                <a href="#" class="btn">Ver mas</a>
            </div>
        </div>
    </section>
    <section class="deteccion" id="deteccion">
        <h1 class="heinding">Detectar etapa en la que se encuentra la hoja de banano</h1>
        <div class="columna">
            <div class="image">
                <img src="/static/img/inteligencia-artificial (1).png" alt="">
            </div>
            <div class="contet">
                <h3>Uso de resnet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam voluptate eos, repellat accusamus aliquam. Incidunt dolor rerum voluptates recusandae, iusto eius maxime, eligendi sint qui debitis aliquid, modi ipsum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam voluptate eos, repellat accusamus aliquam. Incidunt dolor rerum voluptates recusandae, iusto eius maxime, eligendi sint qui debitis aliquid, modi ipsum!</p>

                <div class="bottons">
                    <div class="wrapper-img">
                        <div class="image">
                            <!-- <img src="/static/img/inteligencia-artificial.png" alt=""> -->
                        </div>

                    </div>
                    <div class="content">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <div class="text">No hay archivos cargados</div>
                        <div id="cancel-btn"><i class="fas fa-times"></i></div>
                        <div class="file-name">Nombre del archivo</div>
                    </div>
                    <input type="file" id="default-btn">
                    <button id="custom-btn" class="btn">Detectar Sigatoka</button>
                </div>

            </div>
        </div>
    </section>
</body>

</html> 