<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigatoka Negra</title>
    <!--Llama a fontawsome para usar iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/aa08010922.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="#" class="logo">Deteccion de <span>Sigatoka Negra</span></a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="#wrapper">Acceder</a>
            <a href="#acercaDe">Acerca de</a>
        </nav>
    </header>
    <section class="inicio" id="inicio">
        <div class="contet">
            <h3>Deteccion de <span>Sigatoka Negra</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid sequi nihil inventore in magni
                officiis officia nesciunt, sit molestias harum id tempora quae totam ratione quaerat, consequuntur
                accusantium culpa.</p>
            <a href="#wrapper" class="btn">Acceder</a>
        </div>
        <div class="image">
            <img src="/static/img/inteligencia-artificial (1).png" alt="">
        </div>
    </section>

    <div class="wrapper" id="wrapper">
        <div class="form-wrapper sign-in" id="sign-in">
            <a href="#inicio" class="close"><i class="fa-solid fa-xmark"></i></a>
            <form action="">
                <h2>Inicio de sesion</h2>
                <div class="input-group">
                    <input type="text">
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="password">
                    <label for="">Password</label>
                </div>
                <a href="/templates/home.html" class="btn-login">Iniciar Sesion</a>
                <div class="sing-link">
                    <p>No tienes una cuenta <a href="#wrapper3" class="singUp-link">Registrate</a></p>
                </div>
            </form>
        </div>

    </div>
    <div class="wrapper" id="wrapper3">
        <div class="form-wrapper sign-up" id="sign-up">
            <a href="#inicio" class="close"><i class="fa-solid fa-xmark"></i></a>
            <form action="">
                <h2>Registrarse</h2>
                <div class="input-group">
                    <input type="text">
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="email">
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password">
                    <label for="">Password</label>
                </div>
                <div class="input-group">
                    <input type="password">
                    <label for="">Confirm Password</label>
                </div>
                <a href="/templates/home.html" class="btn-login">Registrarse</a>
            </form>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>