<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigatoka Negra</title>
    <!--Llama a fontawsome para usar iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/aa08010922.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="#" class="logo">Deteccion de <span>Sigatoka Negra</span></a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar" class="fa fa-bars"></label>
        <nav class="navbar">
            <a href="#modal">Inicio</a>
            <!-- <a href="#registro">Registro</a> -->
            <a href="#acercaDe">Acerca de</a>
        </nav>
    </header>
    <section class="inicio" id="inicio">
        <div class="contet">
            <h3>Deteccion de <span>Sigatoka Negra</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aliquid sequi nihil inventore in magni officiis officia nesciunt, sit molestias harum id tempora quae totam ratione quaerat, consequuntur accusantium culpa.</p>
            <a href="#modal" class="btn-p" id="btn-p">Inicio</a>
        </div>
        <div class="image">
            <img src="/static/img/inteligencia-artificial (1).png" alt="">
        </div>
    </section>

    <section class="modal" id="modal">
        <div class="modal_container">
            <div class="form-box">
                <h2>Registrase</h2>
                <form action="">
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="input-field">
                            <i class="fa-regular fa-envelope"></i>
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="input-field">
                            <i class="fa-regular fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <p>Olvidaste contrasenia <a href="#">Click aqui</a></p>
                    </div>
                    <div class="btn-field">
                        <a href="" class="btn">Registrarse</a>
                        <a href="" class="btn" id="disable">Iniciar sesion</a>
                    </div>
                </form>
            </div>
            <!-- <figure class="modal_picture">
                <img src="/static/img/Data organization_Outline.png" class="modal_img">
            </figure>
            <h2>Hola es un modal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ab laudantium sit. Ducimus non enim nemo nihil repudiandae, quia voluptate.</p>
            <a href="#inicio" class="btn" id="modal_close">Estoy de acuerdo</a> -->
        </div>
    </section>


    <!-- <script src="/static/js/index.js"></script> -->
</body>

</html>